# Exploratory Data Analysis of film_actor table

In [1]:
import pandas as pd

In [2]:
film_actor = pd.read_csv("../data/output/film_actor.csv")

film_actor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5462 entries, 0 to 5461
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     5462 non-null   int64
 1   film_id      5462 non-null   int64
 2   last_update  5462 non-null   object
dtypes: int64(2), object(1)
memory usage: 128.1+ KB

### Missing data

It is apparent there are no nulls in the film_actor table

### Duplicates

In [3]:
film_actor.duplicated().sum()

np.int64(0)

It is apparent there are no duplicated records in the film_actor table

### Standardisation

In [4]:
film_actor

      actor_id  film_id          last_update
0            1        1  2006-02-15 10:05:03
1            1       23  2006-02-15 10:05:03
2            1       25  2006-02-15 10:05:03
3            1      106  2006-02-15 10:05:03
4            1      140  2006-02-15 10:05:03
...        ...      ...                  ...
5457       200      879  2006-02-15 10:05:03
5458       200      912  2006-02-15 10:05:03
5459       200      945  2006-02-15 10:05:03
5460       200      958  2006-02-15 10:05:03
5461       200      993  2006-02-15 10:05:03

[5462 rows x 3 columns]