# Exploratory Data Analysis of staff table

In [1]:
import pandas as pd

In [3]:
staff = pd.read_csv("../data/output/staff.csv")

staff.info()
staff

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   staff_id     3 non-null      int64
 1   first_name   3 non-null      object
 2   last_name    3 non-null      object
 3   address_id   3 non-null      int64
 4   email        3 non-null      object
 5   store_id     3 non-null      int64
 6   active       3 non-null      bool
 7   username     3 non-null      object
 8   password     3 non-null      object
 9   last_update  3 non-null      object
 10  picture      1 non-null      object
 11  manager_id   2 non-null      float64
dtypes: bool(1), float64(1), int64(3), object(7)
memory usage: 399.0+ bytes

,staff_id,first_name,last_name,address_id,email,store_id,active,username,password,last_update,picture,manager_id
0,1,Mike,Hillyer,3,Mike.Hillyer@sakilastaff.com,1,True,Mike,8cb2237d0679ca88db6464eac60da96345513964,2021-04-15 13:59:58.455171,<memory at 0x000001ECEB50FE80>,3.0
1,2,Jon,Stephens,4,Jon.Stephens@sakilastaff.com,2,True,Jon,8cb2237d0679ca88db6464eac60da96345513964,2021-04-15 13:59:58.455171,NaN,3.0
2,3,Manny,McManager,50,mannymcmanager@managers.com,2,True,manny,manny,2021-04-15 14:01:59.184326,NaN,NaN

### Missing data

2 of the staff members are missing a `picture` which cannot be amended. The staff member which is missing `manager_id` appears to be the manager, so it can be assumed there is no one senior to them.
These are not relevant to analysis and due to the tiny nature of this data it would not be value to amend

### Duplicates

In [5]:
staff.duplicated().sum()

np.int64(0)

It is VERY apparent there are no duplicated records in the payment table